* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 1440px;
}

.link {
  color: #FFFFFF;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  color: #9D8665;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.link:active {
  cursor: pointer;
  color: #7E6C51;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-title {
  margin: 0;
  font-family: Forum;
  font-size: 80px;
  font-weight: normal;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.dark-title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.button:hover {
  background-color: #9D8665;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button span {
  background-color: inherit;
}

.header {
  padding: 62px 0 62px 0;
  color: #FFFFFF;
  background-color: #030303;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo-icon {
  margin-right: 25px;
  width: 49px;
  height: 26px;
  background-image: url("../assets/svg/Frame.svg");
}

.header-logo-text {
  font-size: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header-list-item {
  padding: 0 27px 0 27px;
  font-family: Roboto;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}

.welcome {
  height: 810px;
  background-color: #030303;
}

.welcome .container {
  height: inherit;
  background-image: url("../assets/img/welcome-slider/1.jpg");
  background-position: 440px 0px;
  background-repeat: no-repeat;
}

.welcome .additional-height {
  height: 150px;
}

.welcome-content {
  width: 600px;
}

.welcome .dark-title {
  margin-top: 25px;
}

.welcome-btn {
  width: 360px;
  height: 75px;
  margin-top: 75px;
  background-color: #710707;
  border-radius: 5px;
}

.visiting {
  padding: 75px 0 0 0;
}

.visiting .section-title {
  position: relative;
  color: #9D8665;
}

.visiting .section-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.visiting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 103px;
}

.visiting-card {
  display: block;
  max-width: 440px;
  margin-bottom: 75px;
  text-decoration: none;
  color: #000000;
}

.visiting-card-subheader {
  position: relative;
  margin-top: 25px;
  font-family: Forum;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.visiting-card-subheader::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  bottom: -10px;
  left: 0px;
  background-color: #710707;
}

.visiting-card-descr {
  margin-top: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  color: #000000;
}

.visiting-card-descr p {
  margin-top: 10px;
}

.explore {
  padding: 75px 0;
  background-color: #030303;
}

.explore .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explore-text {
  max-width: 660px;
}

.explore-text .section-title {
  position: relative;
}

.explore-text .section-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.explore-descr {
  margin-top: 103px;
}

.explore-descr p {
  margin-bottom: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #FFFFFF;
}

.explore-descr p span {
  color: #CAAA7D;
}

.video {
  padding: 75px 0;
}

.video .video-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video .video-header .section-title {
  display: block;
  width: 615px;
  color: #9D8665;
}

.video .video-header .video-descr {
  max-width: 720px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}

.video video {
  margin-top: 75px;
  width: 100%;
}

.tickets {
  padding: 75px 0;
}

.tickets .section-title {
  position: relative;
  color: #9D8665;
}

.tickets .section-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.tickets-wrapper {
  margin-top: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #000000;
}

.tickets form {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tickets-rent-type {
  font-weight: 200;
  font-size: 22px;
}

.tickets-rent-type h3 {
  margin: 30px 0 50px 0;
}

.tickets-rent-type .label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
  cursor: pointer;
}

.tickets-rent-type .label:hover input ~ .checkmark {
  background-color: #cccccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tickets-rent-type .label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tickets-rent-type .label input:checked ~ .checkmark::after {
  display: block;
}

.tickets-rent-type .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 17px;
  width: 17px;
  border: 2px solid #000000;
  border-radius: 100%;
}

.tickets-rent-type .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #000000;
}

.tickets-rent-amount {
  max-width: 150px;
  font-weight: 200;
  font-size: 22px;
}

.tickets-rent-amount h3 {
  margin-bottom: 25px;
  text-align-last: right;
}

.tickets-rent-amount-descr {
  margin-bottom: 15px;
}

.tickets-rent-amount-number {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 50px 50px;
      grid-template-columns: 50px 50px 50px;
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  outline: 3px solid #000000;
}

.tickets-rent-amount-number button {
  font-size: 32px;
  font-weight: 400px;
  background-color: #FFFFFF;
  border: none;
}

.tickets-rent-amount-number button:hover {
  cursor: pointer;
}

.tickets-rent-amount-number button:active {
  background-color: #cccccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tickets-rent-amount .number {
  all: unset;
  text-align: center;
  padding-left: 15px;
}

.tickets .total {
  margin-top: 50px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
}

.tickets-btn {
  width: 175px;
  height: 50px;
  margin-top: 50px;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
  background: #000000;
  border-radius: 2px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.contacts {
  padding: 75px 0;
}

.contacts .section-title {
  position: relative;
  color: #9D8665;
}

.contacts .section-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 103px;
}

.contacts-subheader {
  max-width: 227px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.contacts address {
  margin-top: 50px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.contacts address .address-item {
  margin-bottom: 25px;
}

.contacts address .address-item a {
  color: #000000;
  text-decoration: none;
}

.contacts address .address-item a:hover {
  cursor: pointer;
  color: #7E6C51;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */